[submodule "thirdparty"]
	path = thirdparty
	url = https://github.com/xutaxkamay/source-engine-thirdparty
[submodule "ivp"]
	path = ivp
	url = https://github.com/xutaxkamay/source-physics
[submodule "lib"]
	path = lib
	url = https://xutaxkamay.com:3000/xutaxkamay/source-engine-lib.git
[submodule "gamedata"]
	path = gamedata
	url = https://xutaxkamay.com:3000/xutaxkamay/css_enhanced_game_files.git
